* {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav {
    background-color: #202020;
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    line-height: 60px;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 100%;
}

.logo {
    float: left;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin-left: 28px;
}

.nav ul {
    display: inline-block;
    float: right;
    list-style: none;
    text-align: right;
    margin-top: -2px;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: inherit;
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    padding: 0 4px;
    margin: 0 20px;
}

.banner-container {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://t4.ftcdn.net/jpg/01/11/92/63/360_F_111926384_lD1WksOGslwnrpI9xClpRyWdSFN6WHm8.jpg');
}

.info {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    text-align: center;
    height: 50vh;
}

.info-block {
    padding: 50px;
}

.footer {
    text-align: center;
}